<div class="row">
  <div class="col-3">
    <h2 class="section-title">热门企业</h2>
  </div>
  <div class="col-7 mt-2">
    <a routerLink="company">
      <p class="text-right">更多...</p>
    </a>
  </div>
</div>
<div class="row">
  @for (company of companies; track company.id) {
    <div class="job-listing col-5 mr-3" routerLink="/company/view/{{company.id}}">
      <h5 class="company-name">{{company.name}}</h5>
      <p>行业：{{company.category}}</p>
      <p>地址：{{company.address}}</p>
      <p></p>
    </div>
  }
</div>
