<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand text-white" href="#"><i class="fa fa-graduation-cap fa-lg mr-2"></i>科技园就业服务</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nvbCollapse" aria-controls="nvbCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="nvbCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngFor="let menu of menus">
          <a class="nav-link"
             [routerLink]="menu.url"
             routerLinkActive="active-link"
             [routerLinkActiveOptions]="{ exact: true }">
            <i class="fa" [ngClass]="menu.icon"></i> {{ menu.name }}
          </a>
        </li>
        <!-- 如果用户未登录，显示管理登录按钮 -->
        @if (!user) {
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/login'" routerLinkActive="active-link">
              <i class="fa fa-sign-in-alt mr-2"></i> 管理用户登录
            </a>
          </li>
        }

        @if (user) {
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/user'" routerLinkActive="active-link">
              <i class="fa fa-user mr-2"></i> 欢迎您，{{ user.username }}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" (click)="logout()">
              <i class="fa fa-sign-out-alt mr-2"></i> 退出登录
            </a>
          </li>
        }
      </ul>
    </div>
  </div>
</nav>
